<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
    <title>项目信息登记系统</title>
    <link th:href="@{/static/css/404.css}" rel="stylesheet"/>
</head>
<body class="error-index">
<div class="wrapper-box">
    <div class="area clear">
        <div class="err404">
            <h4>您访问的页面不见了！</h4>
            <h5><a th:href="@{/}" class="go-sohu">去首页</a></h5>
        </div>
    </div>
</div>
</body>
</html>
